mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  padding-left: 40px; /* Soldan boşluk ekleyerek içeriği sağa kaydır */
}

mat-form-field.full-width {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 40px; /* Form alanlarını sağa kaydır */
}

mat-dialog-actions {
  display: flex;
  justify-content: center; /* Butonları ortala */
  margin-top: 20px;
}

button {
  margin-left: 70px; 
  margin-right: 30px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  font-size: 14px;
  min-width: 100px;
}

button:hover {
  background-color: #155a9c;
}

::ng-deep .mat-dialog-container {
  min-width: 400px;
  max-width: 600px;
  max-height: 80vh;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

h1[mat-dialog-title] {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #333;
}

.mat-form-field-wrapper {
  padding-bottom: 10px;
}

.mat-error {
  font-size: 12px;
  color: red;
}

.mat-hint {
  font-size: 12px;
  color: #555;
  margin-left: 40px; /* Hints de sağa kaydır */
}
