.table-container {
    margin-top: 20px;
  }

  .table th, .table td {
    text-align: center;
    vertical-align: middle;
    border: 2px solid rgb(67, 6, 180);
    max-width: 200px; /* Hücre genişliğini ayarlayın */
  overflow: hidden; /* Taşma durumunda metni gizler */
  text-overflow: ellipsis; /* Taşan metni üç nokta ile gösterir */
  white-space: nowrap; /* Metni tek satıra sıkıştırır */
  }

  .table tbody tr:hover {
    background-color: #ffffff;
  }

  .icon-row {
    display: flex;
    justify-content: center;
    gap: 150px; /* İkonlar arasındaki boşluğu ayarlar */
  }
  
  .icon-row .col-md,
  .icon-row .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* ID ve Kullanıcı ID sütunlarını gizle */
/* Tablodaki ID sütununu gizle */
.table th:nth-child(1),
.table td:nth-child(1) {
  display: none;
}