<div><nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="col-md-6"><a class="navbar-brand" href="http://localhost:4200/tasinmaz-table">Mevcut Taşınmazlar Listesi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div><div class="col-md-6"><div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div ><a class="nav-link" aria-current="page" href="#">Kullanıcı İşlemleri</a></div>
      <div><a class="nav-link" href="#">Log İşlemleri</a></div>
      <div><a class="nav-link" href="/tasinmaz-table">Mevcut Taşınmazlar Listesi</a></div>
      <button (click)="logOut()">Logout</button>
    </div>
  </div></div>
    
  </div>
</nav></div>