/* src/styles.css */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~ol/ol.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: -moz-linear-gradient(270deg, #fff, #00f84a); /* FF3.6+ */
  background: -webkit-linear-gradient(270deg, #fff, #00f80c); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(270deg, #fff, #f8b500); /* Opera11.10+ */
  background: -ms-linear-gradient(270deg, #fff, #f8b500); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f8b500', GradientType=0); /* IE6-9 */
  background: linear-gradient(270deg, #fff, #026d14); /* W3C */
  width: 100%;
  height: 100vh;
}

.example-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}


